
@{
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" rel="stylesheet" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    #cont1 {
        border: 1px solid red;
        //min-width: 200px;
        //height: 300px;
    }

    #cont2 {
        //height: 70%;
        border: 1px solid green;
        //width: 79%;
        margin-top: 20px;
    }

    #cont3 {
        //height: 59%;
        border: 1px solid blue;
        margin-top: 20px;
    }

    #cont4 {
        //height: 60%;
        border: 1px solid gray;
        margin-top: 10px;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <div id="drag" style="border:1px solid black;">
            <div style="margin: 15px; border:1px solid red; padding: 5px;"> abc</div>
            <div style="margin: 15px; border:1px solid red; padding: 5px;"> 123</div>
            <div style="margin: 15px; border:1px solid red; padding: 5px;"> xyz</div>
            <div style="margin: 15px; border:1px solid red; padding: 5px;"> 987</div>
        </div>
    </div>
    <div class="col-md-9" id="cont1">
        <div id="cont2" style="margin: 15px;">
            <div id="cont3" style="margin: 15px;">
                <div id="cont4" style="margin: 15px;">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var drake = new dragula([document.getElementById("drag"), document.getElementById("cont1"), document.getElementById("cont2"), document.getElementById("cont3"), document.getElementById("cont4")], {
            copy: true,
            //drop: abc,
            //accepts: function (el, target, source, sibling) {
            //    return true; // elements can be dropped in any of the `containers` by default
            //},
        });
        drake.on("drop", abc)
    });
    function abc(el, target, source, sibling) {
        alert($(target).attr("id"));
    };
</script>
