/*new*/
.pd-0{
    padding:0;
}
.builder-window {
    height: 100vh;
}

.builder-window-row {
    height: inherit;
}

.Builder-toolbox {
    height: 100%;
    border-right: 1px solid #ccc;
}

.Builder-work-pane {
    height: 100%;
}
/*builder tab custom css*/
.nav-tabs {
    border-bottom: 2px solid #DDD;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: #666;
    }

        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #4285F4 !important;
            background: transparent;
        }

        .nav-tabs > li > a::after {
            content: "";
            background: #4285F4;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
/*bbuilder tab custom css --------------*/
/*drag table*/
.Table {
    display: inline-block;
    margin: auto;
    border: 1px solid black;
    padding:5px;
}
#tbhd {
    text-align: center;
    border-bottom: 1px solid black;
}
/*drag table--------------*/
/*tree..........................*/
div.treeview ul:first-child:before {
    display: none;
}

.treeview, .treeview ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #369;
}

    .treeview ul {
        margin-left: 1em;
        position: relative
    }

        .treeview ul ul {
            margin-left: .5em
        }

        .treeview ul:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: 0;
            left: 0;
            border-left: 1px solid;
            /* creates a more theme-ready standard for the bootstrap themes */
            bottom: 15px;
        }

    .treeview li {
        margin: 0;
        padding: 0 1em;
        line-height: 2em;
        font-weight: 700;
        position: relative
    }

    .treeview ul li:before {
        content: "";
        display: block;
        width: 10px;
        height: 0;
        border-top: 1px solid;
        margin-top: -1px;
        position: absolute;
        top: 1em;
        left: 0
    }
.tree-indicator {
    margin-right: 5px;
    cursor: pointer;
}

.treeview li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color: inherit;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}