.container-fluid {
    background: white;
    width: 100%;
}

.header {
    background: darkslateblue;
    color: white;
    font-size: medium;
    height: 50px;
    padding: 10px 30px;
    font-weight: bold
}

.col-sm-3 {
    border-right: 1px solid darkslateblue;
    height: 400px;
}
