
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/Query.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="~/js/Querybuilder.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script>
    var databaseObject = @Html.Raw(ViewBag.dict);
    console.log(databaseObject);
</script>
<body>
    <div class="container-fluid">
        <div class="header">
            <p>SQL Syntax</p>
        </div>
        <dIv class="row one">
            <div class="col-sm-3">
                <br />
                <input type="search" name="sdfgghf" class="x" id="x" />
                <ul id="tables-cont"></ul>
            </div>

            <div class="col-sm-9 drop">




            </div>

        </dIv>



        <div id="condition_box">
            <table class="box">
                <thead>
                    <tr id="cond">
                        
                        <th scope="col">Expression</th>
                        <th scope="col">Column Name</th>
                        <th scope="col">Sort Type</th>
                        <th scope="col">Sort Order</th>
                        <th scope="col">Aggregate</th>
                        <th scope="col">Grouping</th>
                        <th scope="col">Criteria</th>
                       

                    </tr>
                </thead>
                <tbody class="inpt">
                    
                    <tr>

                      
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td>
                            <form>

                                <select class="target">
                                    <option value="option1" selected="selected">acending</option>
                                    <option value="option2">decending </option>
                                </select>
                            </form>
                        </td>
                        <td>

                            <select class="target">
                                <option value="option1" selected="selected">acending</option>
                                <option value="option2">decending </option>
                            </select>
                        </td>
                        <td>
                            <select class="achu1" aria-label="Aggregate">
                                <option value=""></option>
                                <option value="Avg">Avg</option>
                                <option value="Avg Distinct">Avg Distinct</option>
                                <option value="Count">Count</option>
                                <option value="Count Distinct">Count Distinct</option>
                                <option value="Max">Max</option>
                                <option value="Max Distinct">Max Distinct</option>
                                <option value="Min">Min</option>
                                <option value="Min Distinct">Min Distinct</option>
                                <option value="Sum">Sum</option>
                                <option value="Sum Distinct">Sum Distinct</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                       
                    </tr>
                    



                </tbody>
            </table>
        </div>


        <div class="query_disply">


        </div>
    </div>
</body>
<script>
    var builder = new QueryBuilder(databaseObject);
</script>