<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/BuilderStyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="~/js/queryBuilder.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script>
    var databaseObject = @Html.Raw(ViewBag.dict);
    console.log(databaseObject);
    $.fn.extend({
        treed: function (o) {
            var openedClass = 'fa-minus';
            var closedClass = 'fa-plus';

            if (typeof o !== 'undefined') {
                if (typeof o.openedClass !== 'undefined') {
                    openedClass = o.openedClass;
                }
                if (typeof o.closedClass !== 'undefined') {
                    closedClass = o.closedClass;
                }
            }
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.prepend("<i class='indicator fa " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this === e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                });
                branch.children().children().toggle();
            });
            tree.find('.branch .indicator').each(function () {
                $(this).on('click', function () {
                    $(this).closest('li').click();
                });
            });
            tree.find('.branch>a').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });
    $(document).ready(function () {

        $('#running-summary').treed();
        $('#calculated-fields').treed();
        $('#special-fields').treed();
        $('#other-fields').treed();

        DrawColTree = function (result) {
            $('#data-table-list').empty();
            $('#data-table-list').append("<li><a>Data Source</a><ul id='dataSource'></ul></li>");
            $.each(result.columns, function (i, columnCollection) {
                $("#data-table-list ul[id='dataSource']").append(" <li><a>Table" + ++i + "</a><ul id='t" + i + "'></ul></li>");
                $.each(columnCollection, function (j, obj) {
                    $("#data-table-list ul[id='t" + i + "']").append("<li class='styl'><div eb-type='ReportCol' tabindex='1' $(this).focus(); class='coloums draggable textval'> " + obj.columnName + "</div></li>");
                });
            });
            $('#data-table-list').treed();
        }
</script>
<script>

</script>
<body>
    <div class="container-fluid">
        <div class="header">
            <p>SQL Syntax</p>
        </div>
        <div class="row">
            <div class="col-sm-3 ">
                <br />
                <input type="search" />
                <ul id="tables-cont"></ul>
            </div>
            <div class="col-sm-9 drop">
                <br />
            </div>
        </div><br />
        <div id="condition_box">
            <table class="box">
                <thead>
                    <tr id="cond">
                                             
                        <th scope="col">Expression</th>
                        <th scope="col">Alias</th>
                        <th scope="col">Sort Type</th>
                        <th scope="col">Sort Order</th>
                        <th scope="col">Aggregate</th>
                        <th scope="col">Grouping</th>
                        <th scope="col">Criteria</th>
                      

                    </tr>
                </thead>
                <tbody class="inpt">

                    <tr>

                       
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td>
                            @*<form>*@

                        <select class="target">
                            <option value="option1" selected="selected">acending</option>
                            <option value="option2">decending </option>
                        </select>
                        @*</form>*@
                    </td>
                    <td>

                        <select class="target">
                            <option value="option1" selected="selected">acending</option>
                            <option value="option2">decending </option>
                        </select>
                    </td>
                    <td>
                        <select class="achu1" aria-label="Aggregate">
                            <option value=""></option>
                            <option value="Avg">Avg</option>
                            <option value="Avg Distinct">Avg Distinct</option>
                            <option value="Count">Count</option>
                            <option value="Count Distinct">Count Distinct</option>
                            <option value="Max">Max</option>
                            <option value="Max Distinct">Max Distinct</option>
                            <option value="Min">Min</option>
                            <option value="Min Distinct">Min Distinct</option>
                            <option value="Sum">Sum</option>
                            <option value="Sum Distinct">Sum Distinct</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                   
                </tr>




            </tbody>
        </table>
    </div>

    <br />
    <div class="display_query">
    </div>
    </div>
</body>
<script>
    var builder = new QueryBuilder(databaseObject);
</script>